{
  "openapi": "3.1.0",
  "info": {
    "title": "ToolScout: Software Decision Engine API",
    "version": "1.3.0",
    "description": "ToolScout | Independent Software Discovery & Decision Engine | trytoolscout.org. This public read-only API exposes discovery, recommendation and distribution endpoints. No authentication is required for the endpoints documented here."
  },
  "servers": [
    {
      "url": "https://trytoolscout.org"
    }
  ],
  "paths": {
    "/api/recommend": {
      "get": {
        "summary": "Resolve broad business software questions into workflows or rank software for a specific job",
        "operationId": "recommendTools",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 300
            },
            "description": "Natural-language description of the software need."
          },
          {
            "name": "goal",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "budget",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "free",
                "low",
                "mid",
                "high"
              ]
            }
          },
          {
            "name": "team",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "solo",
                "small",
                "team",
                "large",
                "agency"
              ]
            }
          },
          {
            "name": "priority",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ease",
                "automation",
                "integrations",
                "features"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5,
              "default": 3
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Either evidence-aware ranked software recommendations or business-sector workflow guidance without fabricated winners",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "query",
                    "count",
                    "recommendations",
                    "ranking",
                    "affiliate_disclosure",
                    "recommendation_type"
                  ],
                  "properties": {
                    "query": {
                      "type": "string"
                    },
                    "profile": {
                      "type": "object"
                    },
                    "intent": {
                      "type": [
                        "object",
                        "null"
                      ]
                    },
                    "count": {
                      "type": "integer"
                    },
                    "ranking": {
                      "type": "string"
                    },
                    "affiliate_disclosure": {
                      "type": "string"
                    },
                    "recommendations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "slug",
                          "name",
                          "category",
                          "match",
                          "match_type",
                          "match_label",
                          "profile_url",
                          "tool_url"
                        ],
                        "properties": {
                          "slug": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "category": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "pricing": {
                            "type": "string"
                          },
                          "free_plan": {
                            "type": "boolean"
                          },
                          "match": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "minimum": 0,
                            "maximum": 97,
                            "description": "Editorial fit score out of 100 for a specific software job, not a probability. Null for broad category and industry workflow requests."
                          },
                          "reasons": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "best_for": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "features": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "tool_url": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "uri",
                            "description": "A ToolScout /go/{slug} link only when the vendor has an enabled, approved HTTPS affiliate route. Null for unmonetized or unverified vendors. Never fabricate a vendor visit URL. Use profile_url to open ToolScout's independent analysis."
                          },
                          "match_type": {
                            "type": "string",
                            "enum": [
                              "personalized",
                              "category_fit"
                            ]
                          },
                          "match_label": {
                            "type": "string"
                          },
                          "profile_url": {
                            "type": "string",
                            "format": "uri"
                          }
                        }
                      }
                    },
                    "observed_intent": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "recommendation_type": {
                      "type": "string",
                      "enum": [
                        "category",
                        "personalized",
                        "workflow_guidance"
                      ]
                    },
                    "guidance": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "description": "Present for broad business questions where no single verifiable software job was stated. Guide the buyer to a workflow; do not invent a universal product winner.",
                      "properties": {
                        "title": {
                          "type": "string"
                        },
                        "explanation": {
                          "type": "string"
                        },
                        "industry": {
                          "type": "string"
                        },
                        "industry_label": {
                          "type": "string"
                        },
                        "decision_scope": {
                          "type": "string",
                          "enum": [
                            "industry_workflows_not_product_winners"
                          ]
                        },
                        "finder_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "specialist_requirements": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "catalog_coverage": {
                          "type": "object",
                          "properties": {
                            "covered_workflows": {
                              "type": "integer"
                            },
                            "total_workflows": {
                              "type": "integer"
                            }
                          }
                        },
                        "workflows": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "category",
                              "title",
                              "job",
                              "scope",
                              "finder_url",
                              "catalog_coverage"
                            ],
                            "properties": {
                              "category": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "job": {
                                "type": "string"
                              },
                              "scope": {
                                "type": "string"
                              },
                              "finder_url": {
                                "type": "string",
                                "format": "uri"
                              },
                              "catalog_coverage": {
                                "type": "integer"
                              },
                              "availability": {
                                "type": "string",
                                "enum": [
                                  "category_available",
                                  "catalog_gap"
                                ]
                              },
                              "evidence_scope": {
                                "type": "string"
                              },
                              "category_examples": {
                                "type": "array",
                                "description": "Manufacturer-documented general-category product profile examples, never a sector-certified shortlist or ranking.",
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "name",
                                    "slug",
                                    "profile_url",
                                    "status"
                                  ],
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "slug": {
                                      "type": "string"
                                    },
                                    "profile_url": {
                                      "type": "string",
                                      "format": "uri"
                                    },
                                    "status": {
                                      "type": "string",
                                      "enum": [
                                        "category_example_not_industry_qualified"
                                      ]
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid query"
          },
          "422": {
            "description": "The request does not contain enough reliable software intent to rank tools."
          },
          "503": {
            "description": "Recommendation catalog temporarily unavailable"
          }
        },
        "description": "Use for any business, including restaurants, marketing agencies, architecture firms, clinics or unknown industries. Whole-business questions return workflow_guidance with first-party Finder follow-through URLs and zero invented winners. Specific jobs return evidence-aware catalog recommendations. Do not interpret category coverage as specialist certification."
      }
    },
    "/api/distribution/feed.json": {
      "get": {
        "summary": "Get recent ToolScout distribution assets",
        "operationId": "getDistributionFeed",
        "responses": {
          "200": {
            "description": "Recent ToolScout assets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "name",
                    "home",
                    "updated_at",
                    "items"
                  ],
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "home": {
                      "type": "string",
                      "format": "uri"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "url"
                        ],
                        "properties": {
                          "url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "type": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "last_seen_at": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/toolscout-distribution.json": {
      "get": {
        "summary": "Get ToolScout machine-discovery and embed manifest",
        "operationId": "getDistributionManifest",
        "responses": {
          "200": {
            "description": "ToolScout distribution manifest",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/distribution/feed.xml": {
      "get": {
        "summary": "Get ToolScout distribution RSS feed",
        "operationId": "getDistributionRss",
        "responses": {
          "200": {
            "description": "RSS 2.0 distribution feed",
            "content": {
              "application/rss+xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/embed/toolscout.js": {
      "get": {
        "summary": "Get the generic ToolScout embed script",
        "operationId": "getToolScoutEmbed",
        "responses": {
          "200": {
            "description": "JavaScript embed",
            "content": {
              "application/javascript": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/embed/badge.svg": {
      "get": {
        "summary": "Get the ToolScout embed badge",
        "operationId": "getToolScoutBadge",
        "responses": {
          "200": {
            "description": "ToolScout SVG badge",
            "content": {
              "image/svg+xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/distribution/embed-event": {
      "post": {
        "summary": "Record privacy-bounded ToolScout embed telemetry",
        "operationId": "recordToolScoutEmbedEvent",
        "description": "Records publisher adoption and widget interaction evidence. Raw Finder search text is not accepted or stored by this telemetry contract.",
        "requestBody": {
          "required": true,
          "content": {
            "text/plain": {
              "schema": {
                "type": "object",
                "required": [
                  "embed_type",
                  "event"
                ],
                "properties": {
                  "embed_type": {
                    "type": "string",
                    "enum": [
                      "finder",
                      "compare",
                      "pick"
                    ]
                  },
                  "event": {
                    "type": "string",
                    "enum": [
                      "impression",
                      "interaction",
                      "click",
                      "search",
                      "results",
                      "unresolved",
                      "profile_click",
                      "vendor_click",
                      "error"
                    ]
                  },
                  "publisher_id": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "publisher_host": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "asset_id": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "intent_slug": {
                    "type": "string",
                    "maxLength": 100
                  },
                  "result_slug": {
                    "type": "string",
                    "maxLength": 100
                  },
                  "result_count": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 20
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "full",
                      "mini"
                    ]
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "embed_type",
                  "event"
                ],
                "properties": {
                  "embed_type": {
                    "type": "string",
                    "enum": [
                      "finder",
                      "compare",
                      "pick"
                    ]
                  },
                  "event": {
                    "type": "string"
                  },
                  "publisher_id": {
                    "type": "string"
                  },
                  "publisher_host": {
                    "type": "string"
                  },
                  "asset_id": {
                    "type": "string"
                  },
                  "intent_slug": {
                    "type": "string"
                  },
                  "result_slug": {
                    "type": "string"
                  },
                  "result_count": {
                    "type": "integer"
                  },
                  "mode": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Telemetry accepted"
          },
          "400": {
            "description": "Invalid telemetry event"
          },
          "503": {
            "description": "Telemetry store temporarily unavailable"
          }
        }
      },
      "options": {
        "summary": "CORS preflight for ToolScout embed telemetry",
        "operationId": "preflightToolScoutEmbedEvent",
        "responses": {
          "204": {
            "description": "CORS preflight accepted"
          }
        }
      }
    },
    "/embed/toolscout-finder.js": {
      "get": {
        "summary": "Get the ToolScout Software Finder embed script",
        "operationId": "getToolScoutFinderEmbed",
        "responses": {
          "200": {
            "description": "JavaScript embed",
            "content": {
              "application/javascript": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/embed/toolscout-compare.js": {
      "get": {
        "summary": "Get the ToolScout comparison embed script",
        "operationId": "getToolScoutCompareEmbed",
        "responses": {
          "200": {
            "description": "JavaScript embed",
            "content": {
              "application/javascript": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/embed/toolscout-pick.js": {
      "get": {
        "summary": "Get the ToolScout Pick embed script",
        "operationId": "getToolScoutPickEmbed",
        "responses": {
          "200": {
            "description": "JavaScript embed",
            "content": {
              "application/javascript": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}
